@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.user-container {
    margin-right: auto;
}

.name {
    font-family: "Roboto";
    font-weight: 600 !important;
}