.html {
    background-color: #f8f8f8;
}

.login-form {
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    max-width: 30vw;
    padding: 30px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    position:absolute;
    top:30%;
    right:0;
    left:0;
}

.textField {
    margin-top: 100px;
}